{%  extends 'base.html' %}
{% block content %}
<main>
	<div class="container thumblist-container">
		<div class="row">
			<div class="col-xs-12" style="margin-bottom: 40px;">
                <a href="https://rhbooks.com.ng/product/women-of-the-ayo-kessington-dynasty-volume-1-anjolas-diary/"><img src="/static/ad.png" class="img-responsive" style="margin-left: auto;margin-right: auto"></a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
                {%  for quiz in quizs %}
				<div class="row thumblist">
					<div class="col-xs-4 thumblist-img" style="background-image: url({{ quiz.thumbnail.url }})">

					</div>
					<div class="col-xs-8">
                        <a href="/quiz/{{ quiz.slug }}" style="color:#000"><h4>{{ quiz.title }}</h4></a>
						<p>{{ quiz.subtext }}</p>
					</div>
				</div>
                {%  endfor %}
			</div>
			<div class="col-md-4">
				<div class="row">
                    <a href="https://rhbooks.com.ng/product/women-of-the-ayo-kessington-dynasty-volume-1-anjolas-diary/"><img class="ad2 img-responsive"  src="/static/book_ad.png"></a>

				</div>
			</div>
		</div>
	</div>
	</main>
{%  endblock %}