            <div class="col-md-4">
				<div class="row">
					<a href="https://rhbooks.com.ng/product/women-of-the-ayo-kessington-dynasty-volume-1-anjolas-diary/"><img class="ad2 img-responsive" src="/static/book_ad.png"></a>
                <!-- just checking -->
				</div>
								<div class="spacer10"></div>
				{%  for quiz in next_quizs %}
                    <div class="row thumblist small">
                        <div class="col-xs-4 thumblist-img" style="background-image: url({{ quiz.thumbnail.url }})">

                        </div>
                        <div class="col-xs-8">
                            <h4>{{ quiz.title }}</h4>
                        </div>
                    </div>
                {%  endfor %}
			</div>